<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EmployeeDBConnectionString" connectionString="Data Source=.;Initial Catalog=EmployeeDB2;Integrated Security=true; password=NewUser" providerName="System.Data.SqlClient"/>
		<add name="SclDBConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SchoolDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite; password=NewUser; MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
		<add name="SchoolDBConnectionString" connectionString="Data Source=.;Initial Catalog=MyDatabase; Integrated Security=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>

